{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    

    <a href="{{ path('program_index') }}">
        clique ici!
    </a>
{% endblock %}